[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
six = "*"
ulid-py = "*"
dataclasses-json = "*"

[dev-packages]
python-language-server = {extras = ["all"], version = "*"}
setuptools = "*"
pre-commit = "*"
twine = "*"
pdoc = "*"
ipython = "*"
six = "*"

[requires]
python_version = "3.10"
