[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
couchdb2 = "*"

[dev-packages]
python-language-server = {extras = ["all"], version = "*"}
setuptools = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
